@media only screen and (min-width: 600px) {
    .notes-upload-form {
        background-color: white;
    }
    .notes-upload-form{
        padding: 30px;
        margin: 20px;
        border-radius: 10px;
    }
    .notes-upload-box td{
        padding: 10px;
    }
    
    #notes-form-button{
        padding-block: 16px;
    }
    
    #notes-form-button:hover{
        background-color: #111827;
    }
    
    /* .outer-container {
        height: 100%;
    } */
    
    
    
    }

    .container-main {
        width: 93%;
        /* height: 600px; */
        margin: auto;
        margin-top: 32px;
        display: flex;
        /* border: 1px solid black; */
        /* justify-content: space-evenly; */
        flex-wrap: wrap;
    }
    
    .notes-item {
        width: 21%;
        height: 250px;
        background-color: #fff;
        box-shadow: 0 0 10px rgb(165, 165, 165);
        /* border: 2px solid #9c9898; */
        border-radius: 10px;
        margin: 20px 23px;
        display: flex;
        flex-direction: column;
    }
    
    .notes-upper {
        height: 75%;
        /* display: flex;
        flex-direction: column;
        justify-content: space-evenly; */
        font-size: 1.7rem;
        padding: 20px;
    }
    
    .notes-heading {
        margin-block: 15%;
    }
    .notes-title {
        text-align: center;
        font-size: 2rem;
    }
    
    .notes-subject {
        text-align: center;
    }
    
    .notes-bottom {
        padding: 20px;
    }
    
    .notes-button {
        display: flex;
        justify-content: space-around;
    }


@media only screen and (max-width: 599px) {

    .notes-item {
        width: 100%;
        margin: 20px 20px;
    }
    .notes-upper {
        height: 75%;
    }

}