.add-note-button{
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px lightblue;
}

.add-note-button svg{
    padding: 0px;
    color: black;
    width: 50px;
    height: 40px;
    cursor: pointer;
}


#notes-form-button{
    padding-block: 14px;
    background-color: #1976d2;
    border: none;
    color: white;
}

.notes-upload-sec tbody, tr, td{
    border: 0;
    border-style: hidden;
}

.notes-upload-form{
box-shadow: 0px 0px 10px 0px #888888;
}